<header>
</header>


<div class="container">
  <ul class="nav nav-pills" style="margin-bottom: 20px;">
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/dashboard">Dashboard</a></li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/users">Clients</a></li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/marques">Marques</a></li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/produits">Produits</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>


<footer>
</footer>
